@import "@/shared/styles/variables.scss";

// src/index.scss
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
  --body-background-color: #fafafa;
  --body-color: #000000;
  --body-color-hovered: #A0A8B1;
}

:root[data-theme="dark"] {
  --body-background-color: #1D2130;
  --body-color: rgba(255, 255, 255, 0.87);
  --body-color-hovered: #D9D9D9;
}

body {
  background: var(--body-background-color);
  color: var(--body-color)
}

a {
  color: var(--body-color)
}

a:hover {
  color: var(--body-color-hovered)
}


//
//@media (prefers-color-scheme: light) {
//  :root {
//    color: $white;
//  }
//  a:hover {
//    color: #747bff;
//  }
//  button {
//    background-color: #f9f9f9;
//  }
//}
