@import "@/shared/styles/variables.scss";

:root[data-theme="light"] {
  --btn-background-color: #1D2130;
  --btn-color: #ffffff;
}

:root[data-theme="dark"] {
  --btn-background-color: #ffffff;
  --btn-color: #1D2130;
}

.button {
  cursor: pointer;
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  border: 0;
  transition: background-color 150ms;

  &:hover {
    background-color: $black;
  }

  &_disabled {
    cursor: default;
    opacity: 0.5;
  }
}
