@import "@/styles/variables.scss";

.button {
  border: 0;
  transition: background-color 150ms;
}

button[data-theme="light"] {
  color: $white;
  background-color: $black-primary;
}

button[data-theme="dark"] {
  color: $black;
  background-color: $light-gray;
}