@import "@/shared/styles/variables.scss";

:root[data-theme="light"] {
  --focused-input-border-color: #1D2130;
}

:root[data-theme="dark"] {
  --focused-input-border-color: #fafafa;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}
.input{
  outline-width: 0;
  background-color: $white;
  border: 1px solid $gray;

  &:focus {
    border: 1px solid var(--focused-input-border-color);
  }

  &::placeholder { /* Most modern browsers support this now. */
  }

  &_icon {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 24px;

    right: 12px;
    // align-center
    top: 50%;
    transform: translateY(-50%);

    &__clickable {
      cursor: pointer;
    }
  }
}
