@import "../../../Shared/styles/variables";

.cards {
  &_sections {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_section {
      flex-basis: 33%;

      &_card {
        border-radius: 8px;
      }

      &_img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .cards {

    &_h {
      font-size: $h3;
      font-weight: 500;
    }

    &_sections {
      &_section {
        flex-basis: 100%;
      }
    }
  }
}
