@import "@/Layers/Shared/styles/variables";

:root[data-theme="light"] {
  --btn-background-color: #1D2130;
  --btn-color: #ffffff;
}

:root[data-theme="dark"] {
  --btn-background-color: #ffffff;
  --btn-color: #1D2130;
}

.root {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &_section {
    border-bottom: 1px solid $light-gray;
  }
}