@import "@/shared/styles/variables.scss";

:root[data-theme="light"] {
  --block-border-color: #D9D9D9;
}

:root[data-theme="dark"] {
  --block-border-color: #ffffff;
}

.root {
  padding: 10px;
  border: 1px solid var(--block-border-color);
}